body {
    margin: auto;
   
}

main {
    width: 60%;
    margin: auto;
}

form {
    width: 50%;
    margin: auto;
}

.card {
    margin: auto;
    margin-bottom: 20px;
}

.post-comment {
    margin: 0 !important;
    width: 100% !important;
}

@media screen and (max-width: 768px){

    form {
        width: 90%;
    }

}
